/* --------------- Google Fonts Links -------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg,#09203f , #537895);
}

.container{
    width: 100%;
    max-width: 530px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
}

.title{
    display: flex;
    color: #09203f;
    align-items: center;
    margin-bottom: 20px;
}

.title img{
    width: 30px;
    margin-left: 10px;
}

.container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeefe;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.container .row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 14px;
    font-weight: 14px;
}

.container .row button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #09203f;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.container ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.container ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

.container ul li.checked{
    color: #555;
    text-decoration: line-through;
}

.container ul li.checked::before{
    background-image: url(checked.png);
}

.container ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.container ul li span:hover{
    background: #edeef0;
}

.copy_right{
    display: block;
    margin-top: 2.5rem;
    font-size: 10px;
    text-align: center;
}
.copy_right span{
    color: #537895;
}